// about Plant Parenthood
.about {
    min-height: 500px;
    h2 {
        padding: 2rem;
        font-size: 2.6rem;
        font-weight: bold;
    }
}

.dev-team {
    display: flex;
    flex-wrap: wrap;
    // border: 2px dashed red;
}

.teammate1 {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    // border: 1px dotted black;
    min-width: 400px;
}
.teammate2 {
    display: flex;
    flex-direction: row-reverse;
    .mate-img {
        margin-left: 1.1rem;
    }
    @media @desktop {
        flex-direction: row;
    }
    justify-content: space-between;
    margin-left: 1rem;
    // border: 1px dotted black;
    min-width: 400px;
}

.mate-img {
    margin: 1.5rem .5rem;
    margin-right: 1.1rem;
}
.mate-name {
    font-size: 2.0rem;
    padding: 2.6rem 0;
    // margin: 3.4rem 1.5rem 1.1rem;
}
.mate-role {
    font-size: 1.6rem;
    // margin-left: 1.5rem;
}
.mate-quote {
    font-size: 1.5rem;
    max-width: 24rem;
    // margin-left: 1.5rem;
}
.mate-portrait {
    width: 182px;
    height: 182px;
    border: .2rem solid @everglade;
    border-radius: .5rem;
}
