// mixins

.button-mixin(@bg: @everglade, @fg: @white, @hbg: @fg, @hfg: @bg, @size: 34rem, @fs: 1.4rem) {
    color: @fg;
    border-radius: 0.7rem;
    border: 1px solid @everglade;
    width: @size;
    text-align: center;
    padding: 1rem;
    margin: 2rem 0;
    font-size: @fs;
    font-weight: bold;
    background-color: @bg;
    &:hover {
        background-color: @hbg;
        color: @hfg;
        font-style: italic;
    }
}

.teammate-small() {
    .mate-img {
        img {
            width: 12rem;
            height: 12rem;
        }
    }
    .mate-quote {
        font-size: 1.25rem;
    }
    .mate-name {
        font-size: 1.8rem;
    }
    .mate-role {
        font-size: 1.4rem;
    }
}

.teammate-medium() {
    .mate-img {
        img {
            width: 17.5rem;
            height: 17.5rem;
        }
    }
    .mate-quote {
        font-size: 1.5rem;
    }        
    .mate-name {
        font-size: 1.8rem;
    }
    .mate-role {
        font-size: 1.5rem;
    }
}

.teammate-large() {
    .mate-img {
        img {
            width: 18.2rem;
            height: 18.2rem;
        }
    }
    .mate-quote {
        font-size: 1.6rem;
    }        
    .mate-name {
        font-size: 2rem;
    }
    .mate-role {
        font-size: 1.6rem;
    }
}