// vars here.
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// Color assignments 
@font-color: @black;
@font-family: @nunito-vernon-adams;
@navigation-background: @everglade;
@main-bg:  @white;
@footer-bg: @white;

// Colors
@everglade: #235B2D;
@white: #E5E5E5;
@black: #000000;
@grey: #EAEAEA;

// fonts
@mono-font: 'Roboto', sans-serif;
@nunito-vernon-adams: 'Nunito', sans-serif;

// breakpoints
@fliptm2: ~'(min-width:664px)';
// from: brave-browser (chromium) introspection tool
@responsive: ~'(min-width: 400px)';
@galaxys5: ~'(min-width: 360px)';
@pixe12: ~'(min-width: 411px)'; 
@iphone5: ~'(min-width: 320px)';
@iphone678: ~'(min-width: 375px)';
@iphone678plus: ~'(min-width: 414px)';
@iphonex: ~'(min-width: 375px)';
@ipad: ~'(min-width: 768px)';
@ipadpro: ~'(min-width: 1024px)'; 

@mobile: ~'(min-width: 50px)';
@tablet: ~'(min-width: 60px)';
@desktop: ~'(min-width: 93px)';
